
.master{
  display: flex;
  margin: 10rem auto;
  justify-content: center;
}

.master select {
  display: flex;
}

.student {
  text-align: center;
}

.student li{
  list-style: none;
}

.logbtn {
  position: absolute;
  top: 0;
  right: 0;
}

.form-details{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 20px 30px;
}

.balance{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 20px 30px;
}
